/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
	}

	h1, h2, h3, h4, h5, h6 {
        color: inherit;
		font-weight: 600;
		line-height: 1.75em;
	}

    h1 {
        font-family:Verdana, Tahoma;
        font-size:2.50em;
        margin-right:20px;
        padding-left:50px;
        padding-bottom:10px;
        color:white;
    }

    h2 {
        font-family:Verdana, Tahoma;
        text-align:right;
        vertical-align:middle;
        margin-right:50px;
        padding-top:33px;
        padding-right:20px;
        color:white;
       
    }

    h3 {
        font-family:Verdana,Tahoma;
        font-size:120%;
        text-align:left;
        padding-left:20px;
        padding-top:20px;
    }

    h3, #clear {
        text-align:center;
    }

    a {
        text-decoration:none;
        color:white;
    }

    #float {
        float:left;
    }
    #clear {
        clear:both;
    }

    .main-container {
        width:auto;
        height:500px;
        background-image: url(images/light-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:200%;
        
    }

    .container {
        width:auto;
        
    }

    .container-nav {
        height:85px;
        width:auto;
        border-bottom: 8px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
    }

    .container-sidebar {
        width:25%;
    }
    .container-content {
        width:75%;
        height:500px;

    }


    #content {
        display:block;
    }

    .sidebar {
        margin-left:25px;
    }



  /* Footer */

 .footer {
       
        margin-left:25px;
        padding-bottom:25px;
    }

 .container-footer {
        width:auto;
        background-color:darkgrey;
        padding-top:15px;
        border-top:10px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
    }

 .footer p {
     font-family: Verdana, Tahoma;
     clear:both;
     padding-left:50px;
     padding-bottom:5px;
     color:white;
 }

 .footer li {
     font-family: Verdana, Tahoma;
     padding-top:10px;
     clear:both;
     color:white;
 }


 .side-footer {
     width:25%;
     height:50px;
     padding-bottom:10px;
 }

 .main-footer {
     width:75%;
     height:50px;
     text-align:right;
     padding-right:50px;
 }

