/* Basic */
    
    html, body {
        height:100%;
    }
	body, input, select, textarea {
		font-size: 0.85em;
        line-height:1,5em;
	}

	h1, h2, h3, h4, h5, h6 {
        color: inherit;
		line-height: 1.75em;
	}

    h1 {
        font-family:'Palatino Linotype', 'Times New Roman';
        font-size:xx-large;
        margin-right:20px;
        padding-left:50px;
        padding-top:20px;
        padding-bottom:10px;
        color:white;
    }

    h2 {
        font-family:'Palatino Linotype', 'Times New Roman';
        font-size:initial;
        text-align:right;
        vertical-align:middle;
        margin-right:50px;
        padding-top:33px;
        padding-right:20px;
        color:white;
       
    }

    h3 {
        font-family:'Palatino Linotype', 'Times New Roman';
        font-size:initial;
        font-weight:bold;
        text-align:left;
        padding-left:20px;
        padding-top:20px;
    }

    h3, #clear {
        text-align:center;
    }

    a {
        text-decoration:none;
        color:white;
    }

/* Box */

    #float {
        float:left;
    }
    #clear {
        clear:both;
    }


    .wrapper {
        height:95%;
        margin: 0 0 -50px;
        background-image: url(images/light-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:200%;
        padding-top: 85px;
        min-height:95%;
    }

    .main-container {
        width:auto;
        
    }

    .container {
        width:auto;
        
    }

    .container-nav {
        position:fixed;
        height:85px;
        width:100%;
        border-bottom: 8px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:100%;
        max-height:20%;
    }

    .container-sidebar {
        width: 30%;
        height: 80%;
    }

    .container-content {
        width:70%;
        height:80%;

    }

    .sidebar {
        margin-left:25px;
    }



  /* Footer */

 .footer {
       
        margin-left:25px;
        padding-bottom:25px;
    }

 .container-footer {
        background-color:darkgrey;
        padding-top:15px;
        border-top:10px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:100%;
        position:fixed;
        bottom:0;
        width:100%;
        max-height:20%;
        border-bottom:10px solid black;
    }

 .footer p {
     font-family: 'Palatino Linotype', 'Times New Roman';
     font-size: initial;
     clear:both;
     padding-left:50px;
     padding-bottom:10px;
     color:white;
     font-weight:bold;
 }


 .footer li {
     font-family: 'Palatino Linotype', 'Times New Roman';
     font-size:smaller;
     clear:both;
     color:white;
     text-align:center;
     padding-bottom:-20px;
 }


 .side-footer {
     width:25%;
     height:50px;
     padding-bottom:10px;
     visibility:hidden;
 }

 .main-footer {
     width:75%;
     height:50px;
     text-align:right;
     padding-right:50px;
 }

