/* Basic */
    
    html, body {
        height:100%;
    }
	body, input, select, textarea {
		font-size: 0.85em;
        line-height:0.75em;
        font-family:sans-serif;
	}

	h1, h2, h3, h4, h5, h6 {
        color: inherit;
		line-height: 2em;
	}

    h1 {
   //     font-family:'Palatino Linotype', 'Times New Roman';
        font-size:18pt;
        margin-right:20px;
        padding-left:50px;
        padding-top:10px;
        padding-bottom:10px;
        color:white;
    }


    h2 {
   //     font-family:'Palatino Linotype', 'Times New Roman';
        font-size:initial;
        text-align:right;
        margin-right:50px;
        padding-top:30px;
        padding-right:20px;
        color:white;
        line-height:1.25;
       
    }

    a {
        text-decoration:none;
        color:white;
    }

    #tokenholder {
        width: 100%;
        height: 100%;
    }

    #raster {
        margin-left:160px;
        border:5px solid black;
        background-color:black;
        table-layout: fixed;
        width:0px;
        
    }

    #selectie {
        background-image:url(images/arrowdown.png);
        background-position:center center;
        background-size: 10%;
        background-repeat:no-repeat;
    }

    #raster td {
        color:white;
     //   border:3px solid lightgrey;
        height: 45px;
        width: 45px;
        margin:0;
        padding: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    background-image: url(images/frame.png);
    background-size:cover;
    }

    #raster tr {
        color:white;
        border-right:2px solid lightgrey;
    }

    label {
    //   font-family:'Palatino Linotype', 'Times New Roman';
       font-size:0.8em;
       color:dimgrey;
       line-height:inherit;
       padding-right:20px;
    }

    button {
       font-size:1.5em;
       padding:5px,5px,5px,5px;
    }

    span {
    //   font-family:'Palatino Linotype', 'Times New Roman';
       font-weight:bold;
	   clear:both;
       font-size:1.3em;
       text-align:left;
	   padding-top:20px;
       margin-left:10%;
       line-height:150%;
	}

    .token1 {
	background-image: url(images/redToken.png);
	background-repeat: no-repeat;
	background-position: center center;
    background-size:cover;
    }

    .token2 {
	background-image: url(images/blueToken.png);
	background-repeat: no-repeat;
	background-position: center center;
    background-size:cover;
    }



/* Box */

    .float {
        float:left;
    }
    .clear {
        clear:both;
    }


    .wrapper {
        height:95%;
        margin: 0 0 -30px;
        background-image: url(images/light-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:200%;
        padding-top: 85px;
        min-height:95%;
    }

    .main-container {
        width:auto;
        
    }

    .container {
        width:auto;
        
    }
	
	div #options, #raster
	{
		display: none;
	}

    .container-nav {
        display:inline-block;
        position:absolute;
        top:0;
        height:85px;
        width:100%;
        border-bottom: 8px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:100%;
        max-height:20%;
    }

    .container-sidebar {
        width: 32%;
        height: 80%;
    }

    .container-content {
        width:68%;
        height:80%;

    }

    .sidebar {
        margin-left:25px;
        position:relative;
    }

    .sidebar > p {
        clear:both;
        margin-top:100%;
        font-size:0.8em;
        text-align:left;
        margin-bottom:20%;
        padding:3px 35px 5px 40px;
        line-height:150%;
    }

    #start
    {
        margin-left:33%;
        margin-top:8%;
    }

    #form {
        margin-left:40%;
        margin-top:8%;
        font-size:1.7em;
    }

    #stats {
        display: none;
        margin-top:25px;
    }

     #rasterwrapper {
	padding-top:25pt;
    } 
 
  /* Footer */

 .footer {
       
        margin-left:25px;
        padding-bottom:25px;
    }

 .container-footer {
        background-color:darkgrey;
        padding-top:10px;
        border-top:12px solid black;
        background-image: url(images/dark-bg.jpg); background-repeat:no-repeat; background-position: 0,0;
        background-size:100%;
        position:fixed;
        bottom:0;
        width:100%;
        max-height:10%;
    }

 .footer p {
 //    font-family: 'Palatino Linotype', 'Times New Roman';
     font-size: 1.4em;
     clear:both;
     padding-left:50px;
     padding-bottom:10px;
     color:white;
     font-weight:bold;
 }


 .side-footer {
     width:25%;
     height:50px;
     padding-bottom:10px;
     visibility:hidden;
 }

 .main-footer {
     width:75%;
     height:50px;
     text-align:right;
     padding-right:50px;
 }



